html, body{
	height:100%;
	width:100%;
}

*{
	margin:0px;
	padding:0px;
}

.flexCC{
	display:flex;
	align-items:center;
	justify-content:center;
}

.flexRow{
	display:flex;
	flex-flow:row;
}

.flexColumn{
	display:flex;
	flex-flow:column;
}

.mainRed{
	color:$mainRed;
}

.medPic{
	max-width: 800px;
	margin-bottom:15px;
}